
<form action="/file-upload" 
class="dropzone dz-clickable" 
id="my-awesome-dropzone">
</form>
<div id="demo"><h2>Magic Happens Here!!!</h2></div>

<button type="button" onclick="loadDoc()">Click Click Click!!!!</button>
